<header class="header">
  <div class="header__logo">
    <img width="40" alt="Angular Logo" src="{{ logo }}" />
    <h1 class="header__title">{{ title }}</h1>
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" ui-sref="About">About</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" ui-sref="Features">Features</a>
      </li>
    </ul>
  </nav>
</header>
