@use 'lib/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: colors.get(blue);
  }
}

body {
  overflow: overlay;
}

html,
body,
.app {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: colors.get(dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: colors.get(dark, 0.8);
}
